---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1600+Pennsylvania+Ave+NW%2C+Washington%2C+DC+20500&key=AIzaSyAyw6qVofFlAbvkeH46PV_zB6Crs_y9qx4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-goog-maps-metro-area:
      - Washington, DC
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1600",
                       "short_name" : "1600",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pennsylvania Avenue Northwest",
                       "short_name" : "Pennsylvania Avenue NW",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northwest Washington",
                       "short_name" : "Northwest Washington",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "Washington",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "District of Columbia",
                       "short_name" : "DC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "20500",
                       "short_name" : "20500",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "1600 Pennsylvania Avenue NW, Washington, DC 20500, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.8979044,
                          "lng" : -77.0355124
                       },
                       "southwest" : {
                          "lat" : 38.8973063,
                          "lng" : -77.03795749999999
                       }
                    },
                    "location" : {
                       "lat" : 38.8976633,
                       "lng" : -77.03657389999999
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.8989543302915,
                          "lng" : -77.03538596970849
                       },
                       "southwest" : {
                          "lat" : 38.8962563697085,
                          "lng" : -77.03808393029151
                       }
                    }
                 },
                 "place_id" : "ChIJGVtI4by3t4kRr51d_Qm_x58",
                 "types" : [ "establishment", "point_of_interest", "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 03 Mar 2023 05:28:54 GMT
recorded_with: VCR 6.1.0
