---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=80202&key=AIzaSyAyw6qVofFlAbvkeH46PV_zB6Crs_y9qx4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-goog-maps-metro-area:
      - Denver, CO
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "80202",
                       "short_name" : "80202",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO 80202, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.76666780000001,
                          "lng" : -104.986105
                       },
                       "southwest" : {
                          "lat" : 39.736849,
                          "lng" : -105.012165
                       }
                    },
                    "location" : {
                       "lat" : 39.7541032,
                       "lng" : -105.0002242
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.76666780000001,
                          "lng" : -104.986105
                       },
                       "southwest" : {
                          "lat" : 39.736849,
                          "lng" : -105.012165
                       }
                    }
                 },
                 "place_id" : "ChIJwTF6RcN4bIcRWd8aCrbRvX0",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 03 Mar 2023 05:28:50 GMT
recorded_with: VCR 6.1.0
