---
http_interactions:
- request:
    method: get
    uri: https://api.open-meteo.com/v1/gfs?current_weather=true&daily%5B%5D=temperature_2m_max&daily%5B%5D=temperature_2m_min&latitude=37.8267&longitude=-122.4233&temperature_unit=fahrenheit&timezone=auto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"latitude":37.78929,"longitude":-122.422,"generationtime_ms":1.9370317459106445,"utc_offset_seconds":-28800,"timezone":"America/Los_Angeles","timezone_abbreviation":"PST","elevation":23.0,"current_weather":{"temperature":48.1,"windspeed":24.8,"winddirection":279.0,"weathercode":51,"time":"2023-03-04T12:00"},"daily_units":{"time":"iso8601","temperature_2m_max":"°F","temperature_2m_min":"°F"},"daily":{"time":["2023-03-04","2023-03-05","2023-03-06","2023-03-07","2023-03-08","2023-03-09","2023-03-10"],"temperature_2m_max":[49.5,47.3,52.0,51.7,50.0,53.3,54.6],"temperature_2m_min":[40.8,39.3,37.3,41.8,43.8,40.3,42.1]}}'
  recorded_at: Sat, 04 Mar 2023 20:06:56 GMT
recorded_with: VCR 6.1.0
