---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Memphis%2C+TN&key=AIzaSyAyw6qVofFlAbvkeH46PV_zB6Crs_y9qx4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Memphis",
                       "short_name" : "Memphis",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Shelby County",
                       "short_name" : "Shelby County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Tennessee",
                       "short_name" : "TN",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Memphis, TN, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.264187,
                          "lng" : -89.720356
                       },
                       "southwest" : {
                          "lat" : 34.994185,
                          "lng" : -90.1938588
                       }
                    },
                    "location" : {
                       "lat" : 35.1495343,
                       "lng" : -90.04898009999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.264187,
                          "lng" : -89.720356
                       },
                       "southwest" : {
                          "lat" : 34.994185,
                          "lng" : -90.1938588
                       }
                    }
                 },
                 "place_id" : "ChIJRZdD6h5-1YcR_rYaYBXzk9E",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 03 Mar 2023 08:15:15 GMT
recorded_with: VCR 6.1.0
